
           /*parte1*/
           .parte1{
            padding: 50px 0;
            font-family: 'Roboto', sans-serif;
            background-color:#efefef;
        }
        .parte1 h1{
         font-size:40px;
         margin-bottom:20px;
        }
        .parte1 .texto1{
           margin-bottom:20px;
        }
        .parte1 .texto1 p{
            font-size:18px;
            line-height: 23px;
            margin-top: 5px;
            font-weight: 400;
        }

        .parte1 .img-mosaico{
            width: 45%;
            padding-top: 25%;
            float:left;
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;
            margin-left:2.5%;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
             -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
             box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
        }
        /*fim parte1*/

        /*parte2*/
        .parte2{
            background-image: url(../Imagens/Fundo-dbz.png);
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat ;
        }
        .parte2 > .container{
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .parte2 .img-equipe{
             background-image: url(../Imagens/equipe.png);
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat ;
            width: 50%;
            padding-top:50%;
        }
        .parte2 .texto-parte2{
            width: 50%;
            color:white;
            font-family: 'Roboto', sans-serif;
             background-color: rgba(0, 0, 0, 0.473);
             padding:15px;
             border-radius:10px;
        }
        /*Fim parte2*/
        /*Parte3*/
        .parte3{
             width: 100%;
             padding: 30px 0;
             background-color: #efefef;
         }
         .parte3 .formulario{
             width:50%;
             color:black;
             float: left;
         }
         .parte3 .formulario h2{
             font-size: 40px;
             font-weight: 300;
         }
         .parte3 .formulario p{
             width: 80%;
             margin-top: 30px;
             font-weight: 300;
             font-size: 15px;
         }
         .parte3 .formulario form{
             margin-top: 20px;
         }
         .parte3 .formulario input[type="text"], .parte3 .formulario input[type="email"]{
             width: 80%;
             height: 60px;
             padding-left: 15px;
             margin-top: 10px;
             border:1px solid #ccc;
             border-radius: 7px;
             -webkit-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             -moz-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
         }
         .parte3 .formulario textarea{
             width: 80%;
             height: 220px;
             padding: 20px;
             resize: none;
             margin-top:10px;
             border-radius: 10px;
             border:1px solid #ccc;
             -webkit-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             -moz-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
         }
         .parte3 .formulario input[type="text"]:focus, .parte3 .formulario input[type="email"]:focus,.parte3 .formulario textarea:focus{
             outline:0;
         }
         .parte3 .formulario input[type="submit"]{
             width: 150px;
             padding: 10px;
             background-color: #1C1C1C;
             border-radius: 40px;
             cursor: pointer;
             color: white;
             border: 0;
             margin-top: 10px;
             -webkit-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             -moz-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
         }
         .parte3 .formulario input[type="submit"]:hover{
             background-color: #1d1c1c;
         }
         .parte3 .visit{
             float: right;
             width: 50%;
             color: black;
         }
         .parte3 .visit h2{
             font-size: 40px;
             font-weight: 300;
             margin-bottom: 30px;
         }
         .parte3 .visit .map{
             width: 100%;
             margin: 0 auto;
             border: 0;
             -webkit-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             -moz-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.75);
             border-style: outset;
         }
         /*fim-parte*/